{{t "standard_format"}}
{{ t "with_space_before_helper"}}
{{t 'single_quote'}}
{{view "shared/header"}}
{{t keyVariable}}
<div>{{t "in_html"}}</div>
{{{shouldBeSkipped}}}
{{#each links}}{{t "in_each"}}{{/each}}
{{t "with_data" dummy_data=dummyValue}}